// TODO

.container {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 30px;

   
}


.loadButton{
    border: none;
    background: none;
    color: #FF57B2;
    font-weight: bold;
}

.post{
    display: block;
    margin-top: 20px;

    p{
        margin: 5px 0
    }

    span{
        margin: 10px 15px 10px 0px;
    }
}