// TODO

.loadButton{
    border: none;
    background: none;
    color: #FF57B2;
    font-weight: bold;
}

.post{
    display: block;
    margin-bottom: 20px;

    p{
        margin: 5px 0
    }

    span{
        margin: 10px 15px 10px 0px;
    }
}

.logo{
    margin: 30px 0;
}